<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div data-editable data-name="header" class="header bg-success">
      <h1 class="text-center">My First Content Post</h1>
      <p>This is my description. &nbsp;This post will blow your <a href="#" target="_blank">mind</a>.</p>
    </div>
    <!-- <div data-editable data-name="header" class="header bg-success">
      <h1>Title...</h1>
      <p class="">Description...</p>
    </div> -->
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div data-editable data-name="main-content">
      <h2>
        Why Wait? &nbsp;Really tho?
      </h2>
      <p class="blockquote">
          Hey there, this is an awesome quote!
      </p>
      <p class="author">
          - Kevin Zych
      </p>
    </div>
    <!-- <div data-editable data-name="main-content">
      <h2>Why Wait?</h2>
      <p class="blockquote">Hey there, this is an awesome quote!</p>
      <p class="author">- Kevin Zych</p>
    </div> -->
  </div>
</div>
